body {
    background-color: lightblue;
}

button {
    color: black;
    text-align: center;
    font-size: 16px;
    
}
    

table, td {
    border: 3px solid black;
    font-size:larger;
   
  }
  #myProgress {
    width: 100%;
    background-color: #ddd;
  }
  
  #myBar {
    width: 0%;
    height: 30px;
    background-color: #04AA6D;
    text-align: center;
    line-height: 30px;
    color: white;
  }
  #myBar2 {
    width: 0%;
    height: 30px;
    background-color: #04AA6D;
    text-align: center;
    line-height: 30px;
    color: white;
  }